.container {
  width: 100%;
}

.inputContainer {
  min-height: 36px;

  display: flex;
  position: relative;

  padding: var(--little_padding);

  background-color: var(--color_background);
  border: var(--border);
  border-radius: 4px;

  font-size: 16px;
}

.input {
  width: 100%;
  border: none;
  background-color: var(--color_background);

  &:focus {
    outline: none;
  }
}
