.container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
    gap: var(--little_padding);
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--padding);
  }
}
