.selectContainer {
  width: 100%;
}

.select {
  position: relative;

  width: 100%;
  min-height: 36px;

  display: flex;
  align-items: center;

  border: var(--border);
  border-radius: var( --border_radius);

  cursor: pointer;
}

.selectValue {
  margin-left: 8px;
}


.showOptions {
  border-color: var(--primary_color);
}

.arrow {
  position: absolute;
  top: 0;
  right: 8px;

  height: 100%;

  display: flex;
  align-items: center;

  user-select: none;
  & > img {
    height: 60%;

    transition: transform 0.2s linear;
    transform: rotate(0deg);

    cursor: pointer;
  }
}

.arrowOpen > img {
  transform: rotate(-180deg);
}


.options {
  position: absolute;
  transform: translateY(100%);
  bottom: -5px;

  display: none;

  width: 140px;

  border: var(--border);
  border-radius: var( --border_radius);

  & > :first-child {
    border-radius: 6px 6px 0 0;
  }

  & > :last-child {
    border-radius: 0 0 6px 6px;
    border: 0;
  }
}

.optionsOpen {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  z-index: 1;
  overflow: hidden;

  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.option {
  padding: var(--little_padding);

  outline: none;
  border: none;
  border-bottom: var(--border);

  text-align: left;
  background-color: white;

  font-size: 16px;
  color: var(--color_text);
  cursor: pointer;

  &:hover {
    background-color: rgb(228, 228, 228);
  }
}
