.container {
  padding: var(--padding);

  background-color: var(--background_card_color);
  border-radius: var(--border_radius);

  cursor: pointer;
}

.imgContainer {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-bottom: 16px;

  > img {
    height: 184px;
    object-fit: contain;
  }
}


.categoriesContainer{
  margin-bottom: var(--little_margin);
}

.bookTitle{
  margin-bottom: var(--little_margin);
}